#wrap {
    position: absolute;
    left: 34%;
    top: 20%;
    width: 500px;
    height: 500px;
    font-size: 20px;
}

.hs {
    font-size: 20px;
    font-weight: bold;
}

#start-button {
    background-color: #4b2e83;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

#start-button:hover {
    background-color: white;
    color: #85754d;
    cursor: pointer;
}

#start-screen {
    margin: 20px;
}

#timer {
    float: right;
    font-size: 20px;
    font-weight: bold;
}

h1,
h2 {
    text-align: center;
    font-weight: bold;
}



li {
    background-image: linear-gradient(to right, #4b2e83, white);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

li:hover {
    color: #b7a57a;
    cursor: pointer;
}

/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {

    body {
        max-width: 786px;
    }

    #wrap {
        position: absolute;
        left: 20%;
    }

    a {
        margin-left: 20%;
    }

    #return {

        position: relative;
        left: 55%;
    }

    #clearhs {

        position: relative;
        right: 5%;

    }
}

/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {
    body {
        min-width: 640px;
    }

    #wrap {
        position: absolute;
        left: 10%;
    }

    a {
        margin-left: 10%;
    }


}