* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.timer {
    float: right;
    margin: 16px;
    padding-right: 14px;
    font-size: 20px;
}

.highscore {
    padding-top: 17px;
    padding-left: 14px;
    font-size: 20px;
}

.hide {
    display: none;
}

.revealed {
    display: block;
}