#wraptwo {
    position: absolute;
    left: 38%;
    top: 20%;
    width: 500px;
    height: 500px;
    font-size: 20px;
}

#clearhs {
    background-color: #4b2e83;
    padding: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
}

#clearhs:hover {
    background-color: white;
    color: #85754d;
    cursor: pointer;
}

#return {
    background-color: #4b2e83;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    width: auto;
    text-align: center;
}

#return:hover {
    background-color: white;
    color: #85754d;
    cursor: pointer;
}

h1 {
    text-align: center;
    padding-right: 170px;
}

li {
    text-align: center;
    background-color: white;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #85754d;
    width: 30px;
}